@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Lobster');


body, html {
  height: 100vh;
}
.Navbar {
  margin-bottom: 25px;
}
.divider {
  margin: 10% 0 10% 0;
}
.right {
  background-color: whitesmoke;
  height: 75vh;
}

.brightLarge {
  color: white;
  font-weight: thin;
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
}
.brightSmall {
  color: white;
  font-weight: thin;
  font-family: 'Open Sans', san-serif;
  font-size: 1.2em;
}

/* Start Project Table Styles */
.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}
.custom-filter-dropdown input {
  width: 130px;
  margin-right: 8px;
}
.highlight {
  color: #f50;
}


/* Charts and graphs*/
.chartTitle {
  text-align: center;
  font-size: 1.2em;
}
.VictoryContainer * {
  color: red !important;
}